@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in {
  animation: fadeIn 1s ease-out;
}
html, body {
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  margin: 0;
}
body {
  margin: 0px;
}
a {
  color: black;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.segment {
  height: 100vh;
  width: 400px;
  position: relative;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.segment img {
  width: 75px;
  height: 75px;
}
.position {
  margin-top: 20px;
  width: 400px;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.positionLeft {
  height: auto;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.positionLeft img {
  width: 32px;
  height: auto;
}
.line {
  margin-top: 20px;
  width: 2px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.1);
}
.positionRight {
  padding-top: 10px;
  margin-left: 20px;
  height: auto;
  width: 348px;
}
.positionAttributes {
  margin-top: 10px;
  width: 348px;
  height: auto;
  display: flex;
  flex-direction: row;
}
.attributes {
  margin-right: 5px;
  padding: 8px;
  font-size: 12px;
  line-height: 9px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.attributes img {
  height: 14px;
  width: auto;
  margin-right: 5px;
}
.positionImages {
  margin-top: 20px;
  width: 348px;
  height: 150px;
  position: relative;
}
.positionImages img {
  border-radius: 15px;
  position: absolute;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
}
.activeTitle {
  height: auto;
  display: flex;
  flex-direction: row;
}
.active {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activeLight {
  background-color: rgba(26, 184, 70, 1);
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
}
.activeRadiate {
  background-color: rgba(26, 184, 70, 1);
  width: 15px;
  height: 15px;
  border-radius: 25px;
  position: absolute;
  opacity: 1;
  animation: radiateAnimation 1s ease-in-out 0s infinite;
}

@keyframes radiateAnimation {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
  }
  100% {
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}


/* Blur start*/
.gradient-blur {
  position: fixed;
  z-index: 5;
  inset: auto 0 0 0;
  height: 100px;
  pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Blur end*/